test/testWorkflow.json
[{"id":"700552d6.0b170c","type":"tab","label":"biometricvision","disabled":false,"info":""},{"id":"2aca1ba8.7aab44","type":"debug","z":"700552d6.0b170c","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":180,"wires":[]},{"id":"57de941a.cc016c","type":"debug","z":"700552d6.0b170c","name":"match","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":20,"wires":[]},{"id":"b099e19b.6a079","type":"Biometric Compare","z":"700552d6.0b170c","name":"","maxSize":"90000","directoryStore":"e:\\Temp\\cache","x":570,"y":80,"wires":[["57de941a.cc016c"],["402354a8.69dc6c"],["fb95297a.9c86b8"],["2aca1ba8.7aab44"]]},{"id":"74585926.ca65f8","type":"inject","z":"700552d6.0b170c","name":"not images","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["b099e19b.6a079"]]},{"id":"e5e86e42.6d809","type":"inject","z":"700552d6.0b170c","name":"image1 but no image 2","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"image1\":\"dummy\"}","payloadType":"json","x":180,"y":100,"wires":[["b099e19b.6a079"]]},{"id":"c717f8ad.87f658","type":"inject","z":"700552d6.0b170c","name":"image1, image 2 but crap images","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"image1\":\"dummy\",\"image2\":\"dummy\"}","payloadType":"json","x":210,"y":140,"wires":[["b099e19b.6a079"]]},{"id":"8e9ae359.3c2f1","type":"file in","z":"700552d6.0b170c","name":"","filename":"E:\\Temp\\images\\pprib1.jpg","format":"stream","chunk":false,"sendError":false,"encoding":"binary","x":200,"y":240,"wires":[["165be528.a0a48b"]]},{"id":"b1ac486.24dc5b8","type":"inject","z":"700552d6.0b170c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"same image","payload":"","payloadType":"date","x":180,"y":180,"wires":[["8e9ae359.3c2f1"]]},{"id":"165be528.a0a48b","type":"function","z":"700552d6.0b170c","name":"","func":"const image=msg.payload;\nmsg.payload={image1:image,image2:image};\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["b099e19b.6a079"]]},{"id":"e95da9e8.4fb028","type":"inject","z":"700552d6.0b170c","name":"cache/baseimage","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cache/baseimage","payload":"","payloadType":"date","x":120,"y":360,"wires":[["697d1d2d.8cdf94"]]},{"id":"697d1d2d.8cdf94","type":"file in","z":"700552d6.0b170c","name":"","filename":"E:\\Temp\\images\\pprib1.jpg","format":"utf8","chunk":false,"sendError":false,"encoding":"binary","x":400,"y":340,"wires":[["b099e19b.6a079"]]},{"id":"b21f8c64.ccd1c","type":"inject","z":"700552d6.0b170c","name":"compare/baseimage","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"compare/baseimage","payload":"","payloadType":"str","x":130,"y":400,"wires":[["a1e82ef5.73bc1"]]},{"id":"a1e82ef5.73bc1","type":"file in","z":"700552d6.0b170c","name":"","filename":"E:\\Temp\\images\\pprib2.jpg","format":"","chunk":false,"sendError":false,"encoding":"base64","x":400,"y":400,"wires":[["b099e19b.6a079"]]},{"id":"402354a8.69dc6c","type":"debug","z":"700552d6.0b170c","name":"unmatch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":80,"wires":[]},{"id":"fc96243a.bdc708","type":"inject","z":"700552d6.0b170c","name":"flushCache","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"flushCache","payload":"","payloadType":"date","x":100,"y":280,"wires":[["b099e19b.6a079"]]},{"id":"f9f9eecc.3d6e5","type":"inject","z":"700552d6.0b170c","name":"save/baseimage","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"save/baseimage","payload":"","payloadType":"date","x":120,"y":320,"wires":[["697d1d2d.8cdf94"]]},{"id":"34c03680.b9105a","type":"comment","z":"700552d6.0b170c","name":"Need to copy in test images to directory and change file in paths","info":"","x":450,"y":20,"wires":[]},{"id":"fb95297a.9c86b8","type":"debug","z":"700552d6.0b170c","name":"ok","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":120,"wires":[]},{"id":"cff98811.b00928","type":"file in","z":"700552d6.0b170c","name":"","filename":"E:\\Temp\\images\\hunter1.jpg","format":"","chunk":false,"sendError":false,"encoding":"base64","x":400,"y":440,"wires":[["b099e19b.6a079"]]},{"id":"9b6190a7.4efa5","type":"inject","z":"700552d6.0b170c","name":"compare/baseimage","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"compare/baseimage","payload":"","payloadType":"str","x":130,"y":440,"wires":[["cff98811.b00928"]]}]