test/testWorkflow.json
[{"id":"700552d6.0b170c","type":"tab","label":"biometricvision","disabled":false,"info":""},{"id":"44602305.f1b4bc","type":"tab","label":"biometricvision 1","disabled":false,"info":""},{"id":"6181f8b9.5d71c8","type":"Queue Manager","z":"","name":"test","checkInterval":"10000","maxActive":"100","maxWaiting":"100000","maxTime":"6000000","setqueues":{},"setcheckpoints":{},"setrollbacks":{}},{"id":"ce3c0eeb.4f43f","type":"websocket-listener","z":"","path":"/testin2","wholemsg":"true"},{"id":"2aca1ba8.7aab44","type":"debug","z":"700552d6.0b170c","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":180,"wires":[]},{"id":"57de941a.cc016c","type":"debug","z":"700552d6.0b170c","name":"match","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":20,"wires":[]},{"id":"b099e19b.6a079","type":"Biometric Compare","z":"700552d6.0b170c","name":"","directoryStore":"e:\\Temp\\images","x":570,"y":80,"wires":[["57de941a.cc016c"],["402354a8.69dc6c"],["fb95297a.9c86b8"],["2aca1ba8.7aab44"]]},{"id":"74585926.ca65f8","type":"inject","z":"700552d6.0b170c","name":"not images","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["b099e19b.6a079"]]},{"id":"e5e86e42.6d809","type":"inject","z":"700552d6.0b170c","name":"image1 but no image 2","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"image1\":\"dummy\"}","payloadType":"json","x":180,"y":100,"wires":[["b099e19b.6a079"]]},{"id":"c717f8ad.87f658","type":"inject","z":"700552d6.0b170c","name":"image1, image 2 but crap images","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"image1\":\"dummy\",\"image2\":\"dummy\"}","payloadType":"json","x":210,"y":140,"wires":[["b099e19b.6a079"]]},{"id":"8e9ae359.3c2f1","type":"file in","z":"700552d6.0b170c","name":"","filename":"E:\\Temp\\images\\pprib1.jpg","format":"stream","chunk":false,"sendError":false,"encoding":"binary","x":200,"y":240,"wires":[["165be528.a0a48b"]]},{"id":"b1ac486.24dc5b8","type":"inject","z":"700552d6.0b170c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"same image","payload":"","payloadType":"date","x":180,"y":180,"wires":[["8e9ae359.3c2f1"]]},{"id":"165be528.a0a48b","type":"function","z":"700552d6.0b170c","name":"","func":"const image=msg.payload;\nmsg.payload={image1:image,image2:image};\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["b099e19b.6a079"]]},{"id":"e95da9e8.4fb028","type":"inject","z":"700552d6.0b170c","name":"cache/baseimage","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cache/baseimage","payload":"","payloadType":"date","x":120,"y":360,"wires":[["697d1d2d.8cdf94"]]},{"id":"697d1d2d.8cdf94","type":"file in","z":"700552d6.0b170c","name":"","filename":"E:\\Temp\\images\\pprib1.jpg","format":"utf8","chunk":false,"sendError":false,"encoding":"binary","x":400,"y":340,"wires":[["b099e19b.6a079"]]},{"id":"b21f8c64.ccd1c","type":"inject","z":"700552d6.0b170c","name":"compare/baseimage","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"compare/baseimage","payload":"","payloadType":"str","x":130,"y":420,"wires":[["a1e82ef5.73bc1"]]},{"id":"a1e82ef5.73bc1","type":"file in","z":"700552d6.0b170c","name":"","filename":"E:\\Temp\\images\\pprib2.jpg","format":"","chunk":false,"sendError":false,"encoding":"base64","x":400,"y":420,"wires":[["b099e19b.6a079"]]},{"id":"402354a8.69dc6c","type":"debug","z":"700552d6.0b170c","name":"unmatch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":80,"wires":[]},{"id":"fc96243a.bdc708","type":"inject","z":"700552d6.0b170c","name":"flushCache","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"flushCache","payload":"","payloadType":"date","x":100,"y":280,"wires":[["b099e19b.6a079"]]},{"id":"f9f9eecc.3d6e5","type":"inject","z":"700552d6.0b170c","name":"save/baseimage","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"save/baseimage","payload":"","payloadType":"date","x":120,"y":320,"wires":[["697d1d2d.8cdf94"]]},{"id":"6c5cd094.0dd6b","type":"file in","z":"44602305.f1b4bc","name":"get image","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":628,"y":469,"wires":[["d2ebb6df.2f2f38"]]},{"id":"b0ca637a.7dd0e","type":"comment","z":"44602305.f1b4bc","name":"http://vis-www.cs.umass.edu/lfw/lfw.tgz dir2files takes time as large (1k++) ","info":"images [http://vis-www.cs.umass.edu/lfw/lfw.tgz]()\n\nDownload expand and point first dir2files to directory","x":520,"y":100,"wires":[]},{"id":"dc20a601.90d668","type":"inject","z":"44602305.f1b4bc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":148,"y":229,"wires":[["53e8eab5.2dba94"]]},{"id":"53e8eab5.2dba94","type":"dir2files","z":"44602305.f1b4bc","name":"","dirname":"E:\\test\\lfw\\lfw","pathRegex":"","isRecursive":false,"findDir":true,"isArray":true,"x":328,"y":229,"wires":[["279d26c5.5997ea"]]},{"id":"740f06fd.397a98","type":"dir2files","z":"44602305.f1b4bc","name":"","dirname":"","pathRegex":".*\\.jpg","isRecursive":false,"findDir":false,"isArray":true,"x":508,"y":309,"wires":[["53f1f9d.e24a908"]]},{"id":"c965e3dd.3ad31","type":"function","z":"44602305.f1b4bc","name":"set image 1","func":"msg.images=msg.payload;\nmsg.filename=msg.images[0];\nreturn msg;","outputs":1,"noerr":0,"x":458,"y":469,"wires":[["6c5cd094.0dd6b"]]},{"id":"d2ebb6df.2f2f38","type":"function","z":"44602305.f1b4bc","name":"store image 1 set image 2","func":"msg.image1=msg.payload;\nmsg.filename=msg.images[1];\nmsg.payload=null;\nreturn msg;","outputs":1,"noerr":0,"x":198,"y":529,"wires":[["de66bd62.4298"]]},{"id":"de66bd62.4298","type":"file in","z":"44602305.f1b4bc","name":"get image2","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":438,"y":529,"wires":[["a978a18d.5442e"]]},{"id":"a4ad058f.08e7c8","type":"debug","z":"44602305.f1b4bc","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":760,"wires":[]},{"id":"7967b807.df1388","type":"Monitor Flow","z":"44602305.f1b4bc","name":"unmatched","x":438,"y":649,"wires":[["bdafaead.62a02"]]},{"id":"5a9e4f0f.4e9aa","type":"Monitor Flow","z":"44602305.f1b4bc","name":"Finish person","x":808,"y":369,"wires":[[]]},{"id":"3bddb631.0cc3ea","type":"function","z":"44602305.f1b4bc","name":"set person","func":"msg.dirname=msg.payload[0]\ntry{\n    msg.person=msg.filename.split(\"\\\\\").pop();\n} catch(ex) {\n    msg.person=msg.filename\n}\nmsg.topic=msg.person;\nreturn msg;","outputs":1,"noerr":0,"x":318,"y":309,"wires":[["740f06fd.397a98"]]},{"id":"a3391785.528308","type":"inject","z":"44602305.f1b4bc","name":"stats","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"@stats","payload":"","payloadType":"date","x":558,"y":709,"wires":[["bdafaead.62a02"]]},{"id":"b469fa59.65c568","type":"debug","z":"44602305.f1b4bc","name":"stats","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":798,"y":629,"wires":[]},{"id":"5f560690.ae6b88","type":"Biometric Compare","z":"44602305.f1b4bc","name":"Biometric Compare","directoryStore":"e:\\temp\\images","x":190,"y":680,"wires":[["f8723035.1f608"],["7967b807.df1388"],[],["5784ffaa.37354"]]},{"id":"bdafaead.62a02","type":"Data Analysis","z":"44602305.f1b4bc","name":"metrics","action":"realtime","outputs":3,"outliersStdDevs":"3","term":"100","keyProperty":"\"compares\"","dataProperty":"msg.requestTS.elapse","dataProperties":["msg.payload[0]","msg.payload[1]"],"x":668,"y":609,"wires":[["26006df4.b82982"],["b469fa59.65c568"],["26006df4.b82982"]]},{"id":"f8723035.1f608","type":"Monitor Flow","z":"44602305.f1b4bc","name":"match","x":398,"y":589,"wires":[["bdafaead.62a02"]]},{"id":"279d26c5.5997ea","type":"Array Permutations","z":"44602305.f1b4bc","name":"perms of directories","action":"Messages","arrayProperty":"msg.payload","setSize":"1","unique":"true","outputs":2,"x":518,"y":229,"wires":[["cfb559b3.212fc8"],[]]},{"id":"26006df4.b82982","type":"Array Permutations","z":"44602305.f1b4bc","name":"pairs","action":"Loop","arrayProperty":"msg.payload","setSize":2,"unique":"true","outputs":3,"x":358,"y":389,"wires":[["66824f5c.b14ba"],["66824f5c.b14ba"],["b740cf5c.c44a5"]]},{"id":"11f1b421.c80dec","type":"Monitor Flow","z":"44602305.f1b4bc","name":"","x":178,"y":389,"wires":[["26006df4.b82982"]]},{"id":"73c9462.936ffb8","type":"Monitor Flow","z":"44602305.f1b4bc","name":"","x":158,"y":589,"wires":[["5f560690.ae6b88"]]},{"id":"cfb559b3.212fc8","type":"Queue","z":"44602305.f1b4bc","name":"person","hold":true,"holdOnRollback":false,"maxActive":"5","maxWaiting":"10000","maxTime":"6000000","maxRetries":0,"queueManager":"6181f8b9.5d71c8","x":138,"y":309,"wires":[["3bddb631.0cc3ea"],[]]},{"id":"66824f5c.b14ba","type":"Queue Checkpoint","z":"44602305.f1b4bc","name":"person finished","queueManager":"6181f8b9.5d71c8","x":568,"y":389,"wires":[["5a9e4f0f.4e9aa"]]},{"id":"c00244d2.aa0b28","type":"inject","z":"44602305.f1b4bc","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"a\",\"b\"]","payloadType":"json","x":158,"y":149,"wires":[["279d26c5.5997ea"]]},{"id":"34c03680.b9105a","type":"comment","z":"700552d6.0b170c","name":"Need to copy in test images to directory and change file in paths","info":"","x":590,"y":260,"wires":[]},{"id":"eaa22bc2.abd968","type":"comment","z":"44602305.f1b4bc","name":"Prerequisites","info":" - node-red-contrib-dir2files\n - node-red-contrib-array-permutations\n - node-red-contrib-queuemanager","x":330,"y":40,"wires":[]},{"id":"be623e38.7ae16","type":"Monitor Flow","z":"44602305.f1b4bc","name":"","x":158,"y":469,"wires":[["c965e3dd.3ad31"]]},{"id":"53f1f9d.e24a908","type":"function","z":"44602305.f1b4bc","name":"ignored lists < 2","func":"if(msg.payload.length<2) return [null,msg];\nreturn msg;","outputs":2,"noerr":0,"x":668,"y":309,"wires":[["11f1b421.c80dec"],["66824f5c.b14ba"]]},{"id":"a978a18d.5442e","type":"function","z":"44602305.f1b4bc","name":"store image 2 set payload","func":"msg.image2=msg.payload;\nmsg.payload={image1:msg.image1,image2:msg.image2};\nreturn msg;","outputs":1,"noerr":0,"x":638,"y":529,"wires":[["73c9462.936ffb8"]]},{"id":"b740cf5c.c44a5","type":"function","z":"44602305.f1b4bc","name":"ignored lists < 2","func":"if(msg.payload.length<2) return [null,msg];\nreturn msg;","outputs":2,"noerr":0,"x":888,"y":489,"wires":[["be623e38.7ae16"],["8a5aff7f.76bdb","66824f5c.b14ba"]]},{"id":"8a5aff7f.76bdb","type":"debug","z":"44602305.f1b4bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1118,"y":489,"wires":[]},{"id":"38c00037.2a79b","type":"Queue Rollback","z":"44602305.f1b4bc","name":"rollback","queueManager":"6181f8b9.5d71c8","x":540,"y":760,"wires":[["a4ad058f.08e7c8"]]},{"id":"5784ffaa.37354","type":"Monitor Flow","z":"44602305.f1b4bc","name":"","x":350,"y":760,"wires":[["38c00037.2a79b"]]},{"id":"da85fc53.3b264","type":"http in","z":"700552d6.0b170c","name":"","url":"/testIn","method":"post","upload":false,"swaggerDoc":"","x":220,"y":500,"wires":[["ca7eeed1.2162f"]]},{"id":"ca7eeed1.2162f","type":"debug","z":"700552d6.0b170c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":460,"y":500,"wires":[]},{"id":"b692bd59.e281e","type":"websocket in","z":"700552d6.0b170c","name":"","server":"ce3c0eeb.4f43f","client":"","x":230,"y":600,"wires":[["ca7eeed1.2162f"]]},{"id":"fb95297a.9c86b8","type":"debug","z":"700552d6.0b170c","name":"ok","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":120,"wires":[]}]